/************************************************TAG SELECTORS************************************************/

body {
    background-color: #323031;
    text-align: center;
}

/************************************************CLASS SELECTORS************************************************/

#title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;   
    color: #ecebeb;
    text-shadow: 3px 0 #959193;
}

/************************************************ID SELECTORS************************************************/

