/************************************************TAG SELECTORS************************************************/

body {
    background-color: #323031;
    text-align: center;
}

/************************************************CLASS SELECTORS************************************************/

/* Colored Buttons */

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.btn {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 25px;
    border: 10px solid #5a5658;
    border-radius: 20%;

}

.green {
    background: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

/* Containers */

.container {
    margin: auto;
    width: 50%;
}

/************************************************ID SELECTORS************************************************/

#title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;   
    color: #ecebeb;
    text-shadow: 3px 0 #959193;
}
